
extends layout
block content
    form(id ="taflan" method = 'post' action = '/')
        div(Class ="table-wrapper")
            table
                div(class ="thead")
                    tr
                        th id
                        th dagsetning
                        th name
                        th email
                        th ssn
                        th amount
                div(class ="tbody")
                    for i in data
                        tr
                            td=i.id
                            td=i.date
                            td=i.name
                            td=i.email
                            td=i.ssn
                            td=i.amount
        div(class ="bottom")
            a(href ='/download') Sækja